{% extends 'base.html' %}
{% block content %}
<!-- buat get sm post -->
{% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- contoh  -->
<script>
    $(document).ready(function(){
        $.getJSON("{% url 'wishlist:show_wishlist_json' %}", function(data) { //ambil dari wishlist
            $.each(data, function(key){
                $("#wishlist-ajax").append("<tr>\
										<td>"+data[key].fields.nama_barang+"</td>\
										<td>"+data[key].fields.harga_barang+"</td>\
										<td>"+data[key].fields.deskripsi+"</td>\
										</tr>");
                                    });
            })
        });

    </script>
{% endblock meta %}
<nav class="navbar navbar-expand-lg bg-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Hi, {{nama}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'example_app:index' %}">Home</a>
            </li>
        </ul>
        <span class="navbar-text">
            <button class="btn btn-dark" onclick="location.href=`{% url 'wishlist:logout' %}`">Logout</button>
        </span>
        </div>
    </div>
</nav>


<div class="container ">

    <table class="table table-striped table-bordered my-5" id="wishlist-ajax">
    </table>

    <p>Sesi terakhir login: {{ last_login }}</p>
    <form method="POST" >
        {% csrf_token %} 
        {{ form.as_table }}
    </form>
    <button  class="btn btn-secondary" onclick="location.href=`{% url 'wishlist:add_wishlist_ajax' %}`">Tambah Barang Wishlist</button>

</div>
{% endblock content %}