{% extends 'base.html' %}
{% block content %}
<!-- buat get sm post -->
{% block meta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- contoh  -->
<script>
  
    $("#sbtn-add").click(function(){
      $.post("{% url 'wishlist:add_wishlist_ajax' %}")
      })

    </script>
{% endblock meta %}

<div class="container ">

    <form method="POST" >
        {% csrf_token %} 
        <div class="d-flex flex-column gap-3 justify-center m-5">
            {{ form.as_div }}
        </div>
        <button id="btn-add" class="btn btn-primary mx-5">Tambah Barang Wishlist</button>
    </form>
    <button  class="btn btn-secondary mx-5 my-3" onclick="location.href=`{% url 'wishlist:show_wishlist_ajax' %}`">Kembali</button>

</div>
{% endblock content %}